.heading {
  margin: auto;
}

.heading > h1 {
  font-weight: 800;
  color: #1f1d8d;
  font-size: 24px;
  padding-top: 44px;
  text-align: center;
}

.heading > p {
  color: #868e96;
  font-size: 14px;
  /* margin-top: 14px; */
  text-align: center;
  padding-bottom: 28px;
}

.add-btn {
  display: none;
}

.card-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .heading > h1,
  .heading > p {
    text-align: center;
    width: 735px;
    /* margin: auto; */
  }
  .heading > h1 {
    font-size: 44px;
    font-weight: 800;
  }

  .heading > p {
    font-size: 16px;
    padding-top: 24px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, max(360px));
    grid-gap: 8px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1336px) {
  .heading {
    height: 462px;
    padding: 100px 0 80px;
    margin: 0 auto 0 0;
  }

  .heading > h1,
  .heading > p {
    text-align: left;
    width: 654px;
  }
  .heading > h1 {
    font-size: 62px;
    font-weight: 400;
    padding-top: 0;
    line-height: 70px;
  }

  .heading > p {
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 27px;
  }

  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1d8d;
    color: #ffffff;
    width: 128px;
    height: 40px;
    border-radius: 40px;
  }

  .add-btn a {
    color: white;
    text-decoration: none;
  }

  .card-container {
    grid-template-columns: repeat(3, max(360px));
    grid-gap: 32px;
  }
}
