.alpha-mode {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  background-color: #a7f2ee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  color: #1f1d8d;
  font-size: 12px;
  font-size: 500;
}

.alpha-mode a {
  text-decoration: none;
  font-weight: 800;
  color: #1f1d8d;
  padding: 0 2px;
}

.main-heading {
  height: 462px;
  padding: 100px 0 80px;
  margin: 0 auto 0 0;
  text-align: left;
  color: #1f1d8d;
  max-width: 654px;
}

.main-heading h1 {
  font-size: 62px;
  font-weight: 400;
  padding-top: 0;
  line-height: 70px;
}

.main-heading p {
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 150%;
  color: #868e96;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1d8d;
  color: #ffffff;
  width: 128px;
  height: 40px;
  border-radius: 40px;
}

.add-btn a {
  color: white;
  text-decoration: none;
}

.card-container {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 32px;
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1336px;
}

@media (max-width: 1024px) {
  .card-container {
    max-width: 720px;
  }
  .main-heading {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .main-heading {
    width: 327px;
    height: 100%;
    padding: 32px 0;
    width: 100%;
  }

  .main-heading h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.18px;
  }
  .heading p {
    display: none;
  }
}
