.heading {
  height: 462px;
  padding: 100px 0 80px;
  margin: 0 auto 0 0;
  text-align: left;
  width: 654px;
  color: #1f1d8d;
}

.heading h1 {
  font-size: 62px;
  font-weight: 400;
  padding-top: 0;
  line-height: 70px;
}

.heading p {
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 150%;
  color: #868e96;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1d8d;
  color: #ffffff;
  width: 128px;
  height: 40px;
  border-radius: 40px;
}

.add-btn a {
  color: white;
  text-decoration: none;
}

.card-container {
  grid-template-columns: repeat(3, max(360px));
  grid-gap: 32px;
  display: grid;
  align-items: center;
  justify-content: center;
}
