.card {
  /* width: 100%; */
  height: 383px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 45px 80px rgba(0, 0, 0, 0.0112458),
    0px 9.41907px 33.4221px rgba(0, 0, 0, 0.0161557),
    0px 1.07244px 17.869px rgba(0, 0, 0, 0.02),
    0px 0.15378px 10.0172px rgba(0, 0, 0, 0.0238443),
    0px 0.49341px 5.32008px rgba(0, 0, 0, 0.0287542),
    0px 0.574729px 2.21381px rgba(0, 0, 0, 0.04);
  text-decoration: none;
  color: black;
}

.card-image {
  width: 100%;
  height: 200px;
}

.card-image img {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 183px;
  justify-content: space-between;
}

.card-content .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 78px;
  padding: 16px;
  margin: 0 auto 0 0;
}

.card-content .heading .name {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #1f1d8d;
  font-family: 'Archivo', sans-serif;
}

.card-content .heading .info-row {
  font-size: 10px;
  font-weight: 600;
  color: #adb5bd;
  text-transform: uppercase;
  line-height: 16px;
  display: flex;
}

.card-content .heading .info-row .row-item {
  padding: 0 8px;
  position: relative;
}

.row-item:before {
  content: '';
  height: 10px;
  width: 1px;
  background-color: #adb5bd;
  position: absolute;
  left: 0;
  top: 3px;
}

.row-item:first-of-type:before {
  display: none;
}

.card-content .heading .info-row .row-item:first-of-type {
  padding: 0 8px 0 0;
}

.card-content .rating-row {
  border-bottom: none;
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: left;
  padding-left: 19px;
}

.card-content .specs-row {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
}

.card-content .specs-row .internet,
.card-content .specs-row .sockets,
.card-content .specs-row .calls {
  width: 33.3%;
  border: 1px solid #e9ecef;
  font-size: 16px;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 8px;
}

.card-content .specs-row .calls {
  padding-top: 6px;
}

.calls img {
  width: 22px;
  height: 22px;
}

.card-content .specs-row .internet {
  border-left: none;
  border-right: none;
}

.card-content .specs-row .sockets {
  border-right: none;
}

.card-content .specs-row .internet .bold {
  font-weight: bold;
}

.card-content .password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 24px;
}

.card-content .password-row .password {
  display: flex;
}

.card-content .password-row img {
  margin-right: 6px;
  display: block;
}

.card-content .password-row .copy {
  font-size: 12px;
  font-weight: 500;
  color: #1f1d8d;
  width: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e9ecef;
  height: 100%;
}

/* .card-content .specs-row img,
.card-content .rating-row img {
  margin-right: 10px;
} */

.wifi-pass {
  font-family: 'IBM Plex Mono', monospace;
}
