.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  background: url('../images/space-logo-small.svg') no-repeat center
    center/cover;
}

.main-nav {
  width: 130px;
  max-width: 60%;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-link,
.nav-link a,
.nav-link a:visited {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #1f1d8d;
}

@media (min-width: 768px) {
  .logo {
    background: url('../images/space-logo.svg');
    height: 48px;
    width: 127px;
  }
}

@media (min-width: 1336px) {
  .main-header {
    padding: 56px 0;
    height: 160px;
  }

  .main-nav {
    width: 190px;
  }

  .add-space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 40px;
    border: 1.5px solid rgba(145, 149, 255, 0.3);
    box-sizing: border-box;
    border-radius: 40px;
  }
} ;
